name: CI

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*.*'

jobs:

  Unitary_tests_and_coverity:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Install MicroMamba
      shell: bash
      run: |
        wget -qO- https://micromamba.snakepit.net/api/micromamba/linux-64/latest | tar -xvj bin/micromamba --strip-components=1
        ./micromamba shell init -s bash -p ~/micromamba
        source ~/.bashrc

    - name: Configure conda
      env:
        CONDA_REQS: "conda conda-verify"
      run: |
        micromamba activate
        micromamba env create --file environment.yml

    - name: Run tests
      shell: bash
      run: |
        micromamba activate activate gdf_2_bokeh
        python -m pytest --cov=gdf_2_bokeh --cov-report=xml tests/
